<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>subsequent-turtle</title>
</head>
<body>
  <h1>subsequent-turtle todo list</h1>
  <form action="/todoList" method="POST">
  <input type="text" placeholder="Enter Task" name="task">
  <button type="submit">Submit</button><button id="update">Update</button>
  </form>

  <ul class="todoCollection">
    <% for(var i=0; i<task.length; i++) {%>
      <li class="todo">
        <div><%= task[i].task %></div>
      </li>
    <% } %>
  </ul>

  <script src="main.js"></script>

</body>
</html>
