<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>subsequent-turtle</title>
  </head>
  <body>
    <h1>subsequent-turtle to do list</h1>
    <form method="post" action="/list">
      <input type="text" name="task" placeholder="lol">
      <button type="submit" name="button">submit</button>
    </form>
  </body>
</html>
