<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>subsequent-turtle</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <h1>subsequent-turtle todo list</h1>
  <form action="/todoList" method="POST">
  <input type="text" placeholder="Enter Task" name="task">
  <button type="submit">Submit</button>
  </form>
  <br/>
  <div class="todoCollection">
    <% for(var index=0; index<task.length; index++) {%>
      <div class="todo">
        <div>
          <input type='checkbox' id="check"></input>
          <div id="taskSubmission<%= index %>"  contentEditable="false">
            <button id="edit<%= index %>" onclick="renderItem(<%= index %>)">edit</button><%= task[index].task %>
          </div>
        </div>
      </div>
    <% } %>
  </div>
  <br/>
  <button id='complete'>mark as complete</button><button id='delete'>delete</button>
  <script src="main.js"></script>

</body>
</html>
